@import "./reset.css";

#wrapper {
  margin: 0 auto;
  width: 1920px;
}

div {
  outline: 1px solid red;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1920px;
}

.gnb {
  display: flex;
  position: sticky;
  top: 0px;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.gnb--item__left {
  padding: 0px 200px;
}
.gnb--item__right {
  padding: 0px 200px;
}

.header {
  display: flex;
  height: 540px;
  justify-content: center;
  align-items: flex-end;
  background-color: #CFE5FF;
}

.header--background {
  position: absolute;
  width: 100%;
  background-color: #CFE5FF;
  
}

.header--content {
  position: relative;
}