@import "./reset.css";

div {
  outline: 1px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: center;
}

.gnb {
  display: flex;
  position: fixed;
  height: 70px;
  width: 1920px;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.gnb--item__left {
  padding: 0px 200px;
}
.gnb--item__right {
  padding: 0px 200px;
}

